.venv/
data/
movie_reccommender_system/__pycache__/
.__pycache__
__pycache__/
movie_reccommender_system.egg-info/
# raw datasets and archives
movie_reccommender_system/data_ingestor/data_raw/
router/__pycache__/
tests/__pycache__/
movie_reccommender_system/query_processor/__pycache__/
movie_reccommender_system/data_ingestor/__pycache__/
movie_reccommender_system/query_responder/__pycache__/
movie_reccommender_system/response_basemodel_validator/__pycache__/
*.zip
*.tar
*.tar.gz

# SQLite dbs
*.db
.pytest_cache
.venv